body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
main,
footer {
    width: 82%;
    margin: 5px auto;
    border-radius: 10px;
}

header {
    background-color: #555;
    color: lightgrey;
    text-align: center;
    padding: 5px;
}

nav {
    background-color: #555;
    position: sticky;
    top: 0;
    z-index: 1000;
    text-align: center;
    width: 83%;
    border-radius: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav a {
    display: block;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: lightgray;
    font-weight: bold;
    text-align: center;
}

h2 {
    text-align: left;
}

nav a:hover {
    background-color: #444;
}

main {
    background-color: white;
    padding: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    margin: 10px auto;
}

footer {
    text-align: center;
    background-color: #444;
    padding: 1rem;
    color: lightgrey;
}

img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    body {
        width: 100%;
    }
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.gallery-container img {
    display: flex;
    justify-content: center;
    align-items: stretch;
     max-width: 100%;
    height: auto;
    border-radius: 10px;
    flex: 1 0 100px;
    max-width: 100%; 
    max-height: 150px; 
}

@media (max-width: 600px) {
    .gallery-container {
        justify-content: center;
        margin: 0;
    }
}