body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: white;
    max-width: 300px;
    padding: 1.5rem;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
}

input, button {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus {
    border-color: lightgrey; 
    box-shadow: 0 0 5px lightgray; 
    outline: none; 
}

button {
    background-color: lightgrey;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
