/* Login */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: gray;
}

main {
    background-color: white;
    max-width: 300px;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 5px gray;
    box-sizing: border-box;
}

input:focus {
    border-color: gray;
    box-shadow: 0 0 10px gray;
    outline: none;
}

button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input,
button {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
