body {
    display: flex;
   justify-content: center;
    align-items: flex-start;
    padding: 20px;
    height: 100vh;
    margin: 0;
    background-color: white;
}

main {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

li {
    justify-content: space-between;
    align-items: center;
    background-color: rgb(189, 217, 240);
    border: 0.5px solid rgb(70, 67,212);
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
}

li button {
    font-size: smaller;
    color: red;
    float: right;
    border: none;
    background-color: rgb(189, 217, 240);
    cursor: pointer;
}